<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Message</h1>
    <form method="post" action="/new">
      <label for="userMessage">Message:</label>
      <textarea autofocus id="userMessage" name="userMessage" required rows="5"></textarea>
      <label for="userName">Name:</label>
      <input type="text" id="userName" name="userName" required>
    </form>
  </body>
</html>