<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="newMessage">
      <h1>New Message</h1>
      <form method="post" action="/new">
        <div class="formName">
          <label for="userName">Name:</label>
          <input autofocus type="text" id="userName" name="userName" required>
        </div>
        <label for="userMessage">Message (300 character limit):</label>
        <textarea id="userMessage" name="userMessage" required rows="5" maxlength="300"></textarea>
        <div class="formButtons">
          <button type="submit">Post</button>
          <a href="/">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>